.productimg {
    width: 100px;
    height: 100px;
}

.productcontainer {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}



.productcontainer>a {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

@media all and (min-width: 500px) and (max-width: 1020px) {
    .productcontainer {
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}