.navbar{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background: rgb(251, 188, 188);
    height: 70px;
    align-items: center;
    position: sticky;
    top: 0;
}

.nav_list h2{
  color: #000;
  font-size: 23px;
  font-weight: bold;
}