.selectimg{
    width: 100px;
    height: 100px;
}
button:focus{
    border: 2px solid black;
}
.pcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media all and (min-width: 500px) and (max-width: 1020px){
    .pcontainer{
        display: flex;
        flex-direction: column;
    }
}